body{
    margin: 0px;
    background-image: url("/Images/kungFuPanda.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
h1{
    background-color: black;
    color: white;
}
#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size:22px;
    background: linear-gradient(skyblue,lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 100px;
    margin-left: 50%;
}
#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size:22px;
    background: linear-gradient(pink,purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
}